<section class="signup-page">
  
  <div class="form-heading">
    <h1>Sign Up</h1>
  </div>

  <div class="form-section">
    <form id="signup-form" class="card-body">
      <div>
        <label for="username-input-signup">Username</label>
        <input type="text" id="username-input-signup" />
      </div>
      <div>
        <label for="password-input-signup">Password</label>
        <input type="password" id="password-input-signup" />
      </div>
      <button type="submit" id="signup-btn" class="btn" >Signup!</button>
      <a href="/login">Login instead</a>
    </form>
  </div>

</section>

<script src="/js/signup.js"></script>